// COLORS

$green:   #2ecc71;
$green_d: #27ae60;

$gold:    #f1c40f;
$gold_d:  #f39c12;

/* Background Colors */

// $primary-color:  #0162a1;
// $secondary-color:#31b0d5;
// $brand-color:    #4f7c11;
// $dark-color:     #9fc542;
// $button-color:   #fa8006;


$white:     #fff;
$white_bg:  #f7f7f7;
$white_l:   #e5e5e5;
$white_m:   #c2c2c2;
$white_d:   #9c9b99;

$black:     #000;
$black_d:   #404145;
$black_m:   #444444;
$black_l:   #6d6d6d;
// $black-light: #d0d0d0;